# Data Cleaning NBA Data

In [1]:
import pandas as pd

In [2]:
nba_data = pd.read_csv('nba_player_stats_1992-2022.csv')

In [3]:
nba_data

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,146,327,473,82,37,41,84,151,664,2022
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,349,411,760,256,65,60,115,153,528,2022
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,137,427,564,190,80,44,148,171,1068,2022
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,33,54,87,21,6,10,16,36,132,2022
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,73,185,258,42,14,47,44,78,607,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18452,472,384,Orlando Woolridge,SF,32,DET,82,61,2113,452,...,109,151,260,88,41,33,133,154,1146,1992
18453,473,385,James Worthy*,SF,30,LAL,54,54,2108,450,...,98,207,305,252,76,23,127,89,1075,1992
18454,474,386,Danny Young,PG,29,TOT,62,5,1023,100,...,16,59,75,172,46,4,47,53,280,1992
18455,475,386,Danny Young,PG,29,POR,18,0,134,16,...,0,9,9,20,6,0,5,6,45,1992
18456,476,386,Danny Young,PG,29,LAC,44,5,889,84,...,16,50,66,152,40,4,42,47,235,1992

In [4]:
nba_data.shape

(18457, 32)

In [5]:
del nba_data['Unnamed: 0']
del nba_data['Rk']

In [6]:
nba_data.isnull().sum()

Player       0
Pos          0
Age          0
Tm           0
G            0
GS           0
MP           0
FG           0
FGA          0
FG%        105
3P           0
3PA          0
3P%       2782
2P           0
2PA          0
2P%        175
eFG%       105
FT           0
FTA          0
FT%        883
ORB          0
DRB          0
TRB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
Year         0
dtype: int64

In [7]:
player_names = nba_data["Player"]
nba_data[player_names.isin(player_names[player_names.duplicated()])].sort_values("Player")

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
17670,A.C. Green,PF,29,LAL,82,55,2819,379,706,.537,...,287,424,711,116,88,39,116,149,1051,1993
13393,A.C. Green,PF,37,MIA,82,1,1411,144,324,.444,...,107,206,313,39,30,8,45,119,367,2001
16705,A.C. Green,SF,31,PHO,82,52,2687,311,617,.504,...,194,475,669,127,55,31,114,146,916,1995
14465,A.C. Green,PF,35,DAL,50,35,924,108,256,.422,...,82,146,228,25,28,8,19,69,246,1999
15002,A.C. Green,PF,34,DAL,82,68,2649,242,534,.453,...,219,449,668,123,78,27,68,157,600,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12555,Željko Rebrača,C,30,DET,30,12,488,80,145,.552,...,27,65,92,9,6,17,29,79,198,2003
13079,Željko Rebrača,C,29,DET,74,4,1179,189,374,.505,...,84,206,290,38,28,73,84,192,513,2002
11412,Željko Rebrača,C,32,LAC,58,2,928,133,234,.568,...,49,135,184,26,13,40,49,130,339,2005
10814,Željko Rebrača,C,33,LAC,29,2,412,52,96,.542,...,13,51,64,9,5,19,24,59,135,2006
12028,Željko Rebrača,C,31,ATL,3,0,51,12,23,.522,...,4,5,9,2,0,2,4,7,25,2004

In [8]:
def single_team(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Tm"]=="TOT"]
        row["Tm"] = df.iloc[-1,:]["Tm"]
        return row

nba_data = nba_data.groupby(["Player", "Year"]).apply(single_team)

In [9]:
nba_data

                                   Player Pos Age   Tm   G  GS    MP   FG  \
Player         Year
A.C. Green     1992 18155      A.C. Green  PF  28  LAL  82  53  2902  382
               1993 17670      A.C. Green  PF  29  LAL  82  55  2819  379
               1994 17189      A.C. Green  PF  30  PHO  82  55  2825  465
               1995 16705      A.C. Green  SF  31  PHO  82  52  2687  311
               1996 16164      A.C. Green  SF  32  PHO  82  36  2113  215
...                                   ...  ..  ..  ...  ..  ..   ...  ...
Željko Rebrača 2002 13079  Željko Rebrača   C  29  DET  74   4  1179  189
               2003 12555  Željko Rebrača   C  30  DET  30  12   488   80
               2004 12026  Željko Rebrača   C  31  ATL  24   2   273   34
               2005 11412  Željko Rebrača   C  32  LAC  58   2   928  133
               2006 10814  Željko Rebrača   C  33  LAC  29   2   412   52

                           FGA   FG%  ...  ORB  DRB  TRB  AST STL BLK  TOV  \
Player         Year                   ...
A.C. Green     1992 18155  803  .476  ...  306  456  762  117  91  36  111
               1993 17670  706  .537  ...  287  424  711  116  88  39  116
               1994 17189  926  .502  ...  275  478  753  137  70  38  100
               1995 16705  617  .504  ...  194  475  669  127  55  31  114
               1996 16164  444  .484  ...  166  388  554   72  45  23   79
...                        ...   ...  ...  ...  ...  ...  ...  ..  ..  ...
Željko Rebrača 2002 13079  374  .505  ...   84  206  290   38  28  73   84
               2003 12555  145  .552  ...   27   65   92    9   6  17   29
               2004 12026   77  .442  ...   23   35   58    6   5  11   17
               2005 11412  234  .568  ...   49  135  184   26  13  40   49
               2006 10814   96  .542  ...   13   51   64    9   5  19   24

                            PF   PTS  Year
Player         Year
A.C. Green     1992 18155  141  1116  1992
               1993 17670  149  1051  1993
               1994 17189  142  1204  1994
               1995 16705  146   916  1995
               1996 16164  141   612  1996
...                        ...   ...   ...
Željko Rebrača 2002 13079  192   513  2002
               2003 12555   79   198  2003
               2004 12026   52    91  2004
               2005 11412  130   339  2005
               2006 10814   59   135  2006

[14312 rows x 30 columns]

In [10]:
nba_data.index = nba_data.index.droplevel()

In [11]:
nba_data.head()

,,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
Year,,,,,,,,,,,,,,,,,,,,,,
1992,18155,A.C. Green,PF,28,LAL,82,53,2902,382,803,.476,...,306,456,762,117,91,36,111,141,1116,1992
1993,17670,A.C. Green,PF,29,LAL,82,55,2819,379,706,.537,...,287,424,711,116,88,39,116,149,1051,1993
1994,17189,A.C. Green,PF,30,PHO,82,55,2825,465,926,.502,...,275,478,753,137,70,38,100,142,1204,1994
1995,16705,A.C. Green,SF,31,PHO,82,52,2687,311,617,.504,...,194,475,669,127,55,31,114,146,916,1995
1996,16164,A.C. Green,SF,32,PHO,82,36,2113,215,444,.484,...,166,388,554,72,45,23,79,141,612,1996

In [12]:
nba_data.index = nba_data.index.droplevel()

In [13]:
nba_data

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
18155,A.C. Green,PF,28,LAL,82,53,2902,382,803,.476,...,306,456,762,117,91,36,111,141,1116,1992
17670,A.C. Green,PF,29,LAL,82,55,2819,379,706,.537,...,287,424,711,116,88,39,116,149,1051,1993
17189,A.C. Green,PF,30,PHO,82,55,2825,465,926,.502,...,275,478,753,137,70,38,100,142,1204,1994
16705,A.C. Green,SF,31,PHO,82,52,2687,311,617,.504,...,194,475,669,127,55,31,114,146,916,1995
16164,A.C. Green,SF,32,PHO,82,36,2113,215,444,.484,...,166,388,554,72,45,23,79,141,612,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13079,Željko Rebrača,C,29,DET,74,4,1179,189,374,.505,...,84,206,290,38,28,73,84,192,513,2002
12555,Željko Rebrača,C,30,DET,30,12,488,80,145,.552,...,27,65,92,9,6,17,29,79,198,2003
12026,Željko Rebrača,C,31,ATL,24,2,273,34,77,.442,...,23,35,58,6,5,11,17,52,91,2004
11412,Željko Rebrača,C,32,LAC,58,2,928,133,234,.568,...,49,135,184,26,13,40,49,130,339,2005
10814,Željko Rebrača,C,33,LAC,29,2,412,52,96,.542,...,13,51,64,9,5,19,24,59,135,2006

In [14]:
nba_data.sort_values(by=['Year'], ascending=False)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
92,Chaundee Brown Jr.,SG-SF,23,ATL,5,2,104,10,32,.313,...,1,15,16,4,2,0,1,7,31,2022
274,Hassani Gravett,PG,25,ORL,8,3,171,18,38,.474,...,1,20,21,20,5,1,9,13,50,2022
776,Devin Vassell,SF,21,SAS,71,32,1937,326,764,.427,...,44,262,306,136,76,41,58,143,872,2022
696,Marko Simonovic,C,22,CHI,9,0,35,4,15,.267,...,5,5,10,0,1,1,2,6,17,2022
498,Garrison Mathews,SG,25,HOU,65,33,1712,184,461,.399,...,32,158,190,64,57,24,41,168,650,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18001,Isaac Austin,C,22,UTA,31,0,112,21,46,.457,...,11,24,35,5,2,2,8,20,61,1992
18021,Larry Bird*,SF,35,BOS,45,45,1662,353,758,.466,...,46,388,434,306,42,33,125,82,908,1992
18129,Tellis Frank,PF,26,MIN,10,0,140,18,33,.545,...,8,18,26,8,5,4,5,24,46,1992
18202,Larry Johnson,PF,22,CHH,82,77,3047,616,1258,.490,...,323,576,899,292,81,51,160,225,1576,1992
18155,A.C. Green,PF,28,LAL,82,53,2902,382,803,.476,...,306,456,762,117,91,36,111,141,1116,1992

In [15]:
nba_data.shape

(14312, 30)

In [16]:
nba_data.to_csv('nba_player_stats_1992-2022_cleaned.csv')